## Columnas que nos queremos llevar:
### todas menos Pos en tabla de Xbox ggg
### Game es el primary key en ambas
### Catalogos de juegos por Genre, Año, 

### tabla principal: col_game_id, col_console_id, col_year, col_genre_id, col_publisher_id, col_NA, (...)
### tabla genre: col_genre_id, col_genre
### tabla publisher: col_publisher_id, col_publisher
### tabla games: col_game_id, col_game
### tabla plataforma: col_console_id, col_console

### esquema estrella
### generar una tabla de ventas (base de datos transaccional)

# ETL Challenge

## General Explanation: GameLand Co.

## Extracction and Transformation
### Original source: Three CSVs from Kaggle

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
ps4_path = "Resources/PS4_GamesSales.csv"

ps4_df = pd.read_csv(ps4_path, encoding ='iso-8859-1')
ps4_df.head()

,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39
1,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,6.18,6.05,0.41,2.44,15.09
2,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,5.26,6.21,0.21,2.26,13.94
3,Call of Duty: WWII,2017.0,Shooter,Activision,4.67,6.21,0.40,2.12,13.40
4,FIFA 18,2017.0,Sports,EA Sports,1.27,8.64,0.15,1.73,11.80

In [3]:
xbox_path = "Resources/XboxOne_GameSales.csv"

xbox_df = pd.read_csv(xbox_path, encoding ='iso-8859-1')
xbox_df.head()

,Pos,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,1,Grand Theft Auto V,2014.0,Action,Rockstar Games,4.70,3.25,0.01,0.76,8.72
1,2,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,4.63,2.04,0.02,0.68,7.37
2,3,Call of Duty: WWII,2017.0,Shooter,Activision,3.75,1.91,0.00,0.57,6.23
3,4,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,3.76,1.47,0.00,0.54,5.77
4,5,MineCraft,2014.0,Misc,Microsoft Studios,3.23,1.71,0.00,0.49,5.43

In [4]:
ps4_df

,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39
1,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,6.18,6.05,0.41,2.44,15.09
2,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,5.26,6.21,0.21,2.26,13.94
3,Call of Duty: WWII,2017.0,Shooter,Activision,4.67,6.21,0.40,2.12,13.40
4,FIFA 18,2017.0,Sports,EA Sports,1.27,8.64,0.15,1.73,11.80
...,...,...,...,...,...,...,...,...,...
1029,Fallen Legion: Flames of Rebellion,NaN,Role-Playing,NaN,0.00,0.00,0.00,0.00,0.00
1030,Radial G Racing Revolved,2017.0,Racing,Tammeka Games,0.00,0.00,0.00,0.00,0.00
1031,The Mummy Demastered,NaN,Action,NaN,0.00,0.00,0.00,0.00,0.00
1032,Project Nimbus: Code Mirai,NaN,Action,NaN,0.00,0.00,0.00,0.00,0.00
1033,Battle Chef Brigade,NaN,Action,NaN,0.00,0.00,0.00,0.00,0.00

In [5]:
xbox_df

,Pos,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,1,Grand Theft Auto V,2014.0,Action,Rockstar Games,4.70,3.25,0.01,0.76,8.72
1,2,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,4.63,2.04,0.02,0.68,7.37
2,3,Call of Duty: WWII,2017.0,Shooter,Activision,3.75,1.91,0.00,0.57,6.23
3,4,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,3.76,1.47,0.00,0.54,5.77
4,5,MineCraft,2014.0,Misc,Microsoft Studios,3.23,1.71,0.00,0.49,5.43
...,...,...,...,...,...,...,...,...,...,...
608,609,Biomutant,2018.0,Action,THQ Nordic,0.00,0.00,0.00,0.00,0.00
609,610,Biomutant,2019.0,Action,THQ Nordic,0.00,0.00,0.00,0.00,0.00
610,611,de Blob,2017.0,Platform,THQ Nordic,0.00,0.00,0.00,0.00,0.00
611,612,Outcast: Second Contact,2017.0,Adventure,Bigben Interactive,0.00,0.00,0.00,0.00,0.00
612,613,Code Vein,2019.0,Action,Bandai Namco Entertainment,0.00,0.00,0.00,0.00,0.00

In [6]:
ps4nona = ps4_df.dropna()

In [7]:
ps4nona

,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39
1,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,6.18,6.05,0.41,2.44,15.09
2,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,5.26,6.21,0.21,2.26,13.94
3,Call of Duty: WWII,2017.0,Shooter,Activision,4.67,6.21,0.40,2.12,13.40
4,FIFA 18,2017.0,Sports,EA Sports,1.27,8.64,0.15,1.73,11.80
...,...,...,...,...,...,...,...,...,...
1025,Biomutant,2019.0,Action,THQ Nordic,0.00,0.00,0.00,0.00,0.00
1026,de Blob,2017.0,Platform,THQ Nordic,0.00,0.00,0.00,0.00,0.00
1027,Chaos on Deponia,2017.0,Adventure,Daedalic Entertainment,0.00,0.00,0.00,0.00,0.00
1028,Code Vein,2018.0,Action,Bandai Namco Entertainment,0.00,0.00,0.00,0.00,0.00
1030,Radial G Racing Revolved,2017.0,Racing,Tammeka Games,0.00,0.00,0.00,0.00,0.00

In [8]:
xboxnona = xbox_df.dropna()

In [9]:
xboxnona

,Pos,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,1,Grand Theft Auto V,2014.0,Action,Rockstar Games,4.70,3.25,0.01,0.76,8.72
1,2,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,4.63,2.04,0.02,0.68,7.37
2,3,Call of Duty: WWII,2017.0,Shooter,Activision,3.75,1.91,0.00,0.57,6.23
3,4,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,3.76,1.47,0.00,0.54,5.77
4,5,MineCraft,2014.0,Misc,Microsoft Studios,3.23,1.71,0.00,0.49,5.43
...,...,...,...,...,...,...,...,...,...,...
608,609,Biomutant,2018.0,Action,THQ Nordic,0.00,0.00,0.00,0.00,0.00
609,610,Biomutant,2019.0,Action,THQ Nordic,0.00,0.00,0.00,0.00,0.00
610,611,de Blob,2017.0,Platform,THQ Nordic,0.00,0.00,0.00,0.00,0.00
611,612,Outcast: Second Contact,2017.0,Adventure,Bigben Interactive,0.00,0.00,0.00,0.00,0.00
612,613,Code Vein,2019.0,Action,Bandai Namco Entertainment,0.00,0.00,0.00,0.00,0.00

## PS4 CLEAN TABLE

In [10]:
ps4nodups = ps4nona.drop_duplicates(subset=["Game", "Year"])
ps4nodups

,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39
1,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,6.18,6.05,0.41,2.44,15.09
2,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,5.26,6.21,0.21,2.26,13.94
3,Call of Duty: WWII,2017.0,Shooter,Activision,4.67,6.21,0.40,2.12,13.40
4,FIFA 18,2017.0,Sports,EA Sports,1.27,8.64,0.15,1.73,11.80
...,...,...,...,...,...,...,...,...,...
1025,Biomutant,2019.0,Action,THQ Nordic,0.00,0.00,0.00,0.00,0.00
1026,de Blob,2017.0,Platform,THQ Nordic,0.00,0.00,0.00,0.00,0.00
1027,Chaos on Deponia,2017.0,Adventure,Daedalic Entertainment,0.00,0.00,0.00,0.00,0.00
1028,Code Vein,2018.0,Action,Bandai Namco Entertainment,0.00,0.00,0.00,0.00,0.00
1030,Radial G Racing Revolved,2017.0,Racing,Tammeka Games,0.00,0.00,0.00,0.00,0.00

In [11]:
ps4nodupsy = ps4nodups.sort_values(by="Year", ascending=False)
ps4nodupsy

,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
953,Silent Hills,2020.0,Action,Konami Digital Entertainment,0.00,0.00,0.00,0.00,0.00
792,Primal Carnage: Genesis,2020.0,Misc,Unknown,0.00,0.00,0.00,0.00,0.00
791,Rocketbirds 2: Evolution,2020.0,Misc,Unknown,0.00,0.00,0.00,0.00,0.00
921,Gran Turismo 7,2020.0,Racing,Sony Computer Entertainment,0.00,0.00,0.00,0.00,0.00
784,Final Fantasy (PS4),2020.0,Misc,Square Enix,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...
101,NBA 2K14,2013.0,Sports,2K Sports,0.91,0.35,0.01,0.27,1.54
360,Putty Squad,2013.0,Platform,System 3,0.06,0.07,0.00,0.03,0.16
30,Call of Duty: Ghosts,2013.0,Shooter,Activision,1.79,1.64,0.05,0.69,4.17
74,Need for Speed Rivals,2013.0,Racing,Electronic Arts,0.75,1.04,0.03,0.35,2.17
315,Angry Birds: Star Wars,2013.0,Puzzle,Activision,0.11,0.09,0.00,0.04,0.23

In [12]:
#df.insert(1, 'My 2nd new column', 'default value 2')
#df
ps4_transformed = ps4nodupsy.insert(1, "Console Name", "PS4")
ps4_transformed

In [13]:
ps4nodupsy.dtypes

Game              object
Console Name      object
Year             float64
Genre             object
Publisher         object
North America    float64
Europe           float64
Japan            float64
Rest of World    float64
Global           float64
dtype: object

## PS4 FINAL TABLE

In [14]:
ps4nodupsy

,Game,Console Name,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
953,Silent Hills,PS4,2020.0,Action,Konami Digital Entertainment,0.00,0.00,0.00,0.00,0.00
792,Primal Carnage: Genesis,PS4,2020.0,Misc,Unknown,0.00,0.00,0.00,0.00,0.00
791,Rocketbirds 2: Evolution,PS4,2020.0,Misc,Unknown,0.00,0.00,0.00,0.00,0.00
921,Gran Turismo 7,PS4,2020.0,Racing,Sony Computer Entertainment,0.00,0.00,0.00,0.00,0.00
784,Final Fantasy (PS4),PS4,2020.0,Misc,Square Enix,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...
101,NBA 2K14,PS4,2013.0,Sports,2K Sports,0.91,0.35,0.01,0.27,1.54
360,Putty Squad,PS4,2013.0,Platform,System 3,0.06,0.07,0.00,0.03,0.16
30,Call of Duty: Ghosts,PS4,2013.0,Shooter,Activision,1.79,1.64,0.05,0.69,4.17
74,Need for Speed Rivals,PS4,2013.0,Racing,Electronic Arts,0.75,1.04,0.03,0.35,2.17
315,Angry Birds: Star Wars,PS4,2013.0,Puzzle,Activision,0.11,0.09,0.00,0.04,0.23

In [15]:
xboxnodups = xboxnona.drop_duplicates(subset=["Game", "Year"])
xboxnodups

,Pos,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,1,Grand Theft Auto V,2014.0,Action,Rockstar Games,4.70,3.25,0.01,0.76,8.72
1,2,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,4.63,2.04,0.02,0.68,7.37
2,3,Call of Duty: WWII,2017.0,Shooter,Activision,3.75,1.91,0.00,0.57,6.23
3,4,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,3.76,1.47,0.00,0.54,5.77
4,5,MineCraft,2014.0,Misc,Microsoft Studios,3.23,1.71,0.00,0.49,5.43
...,...,...,...,...,...,...,...,...,...,...
608,609,Biomutant,2018.0,Action,THQ Nordic,0.00,0.00,0.00,0.00,0.00
609,610,Biomutant,2019.0,Action,THQ Nordic,0.00,0.00,0.00,0.00,0.00
610,611,de Blob,2017.0,Platform,THQ Nordic,0.00,0.00,0.00,0.00,0.00
611,612,Outcast: Second Contact,2017.0,Adventure,Bigben Interactive,0.00,0.00,0.00,0.00,0.00
612,613,Code Vein,2019.0,Action,Bandai Namco Entertainment,0.00,0.00,0.00,0.00,0.00

## XBOXONE CLEAN TABLE

In [16]:
xboxnodups = xboxnodups.drop(columns=["Pos"])
xboxnodups

,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,Grand Theft Auto V,2014.0,Action,Rockstar Games,4.70,3.25,0.01,0.76,8.72
1,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,4.63,2.04,0.02,0.68,7.37
2,Call of Duty: WWII,2017.0,Shooter,Activision,3.75,1.91,0.00,0.57,6.23
3,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,3.76,1.47,0.00,0.54,5.77
4,MineCraft,2014.0,Misc,Microsoft Studios,3.23,1.71,0.00,0.49,5.43
...,...,...,...,...,...,...,...,...,...
608,Biomutant,2018.0,Action,THQ Nordic,0.00,0.00,0.00,0.00,0.00
609,Biomutant,2019.0,Action,THQ Nordic,0.00,0.00,0.00,0.00,0.00
610,de Blob,2017.0,Platform,THQ Nordic,0.00,0.00,0.00,0.00,0.00
611,Outcast: Second Contact,2017.0,Adventure,Bigben Interactive,0.00,0.00,0.00,0.00,0.00
612,Code Vein,2019.0,Action,Bandai Namco Entertainment,0.00,0.00,0.00,0.00,0.00

In [17]:
xboxnodupsy= xboxnodups.sort_values(by="Year", ascending=False)
xboxnodupsy

,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
447,Killer Instinct,2020.0,Misc,Microsoft Game Studios,0.00,0.00,0.0,0.00,0.00
464,Whore of the Orient,2020.0,Misc,Warner Bros. Interactive Entertainment,0.00,0.00,0.0,0.00,0.00
474,Halo 6,2020.0,Shooter,Microsoft Game Studios,0.00,0.00,0.0,0.00,0.00
482,Black Tusk Studios Game,2020.0,Misc,Microsoft Game Studios,0.00,0.00,0.0,0.00,0.00
612,Code Vein,2019.0,Action,Bandai Namco Entertainment,0.00,0.00,0.0,0.00,0.00
...,...,...,...,...,...,...,...,...,...
68,Lego Marvel Super Heroes,2013.0,Action,Warner Bros. Interactive Entertainment,0.61,0.44,0.0,0.10,1.15
494,Sea Animal Games for Toddlers and Kids with Ji...,2013.0,Misc,Ubisoft,0.00,0.00,0.0,0.00,0.00
76,NBA 2K14,2013.0,Sports,2K Sports,0.72,0.12,0.0,0.09,0.94
83,Madden NFL 25,2013.0,Sports,EA Sports,0.69,0.06,0.0,0.09,0.83
129,Zoo Tycoon (2013),2013.0,Simulation,Microsoft Studios,0.25,0.18,0.0,0.04,0.48

In [18]:
xbox_transformed = xboxnodupsy.insert(1, "Console Name", "XboxOne")
xbox_transformed

In [19]:
xboxnodupsy.dtypes

Game              object
Console Name      object
Year             float64
Genre             object
Publisher         object
North America    float64
Europe           float64
Japan            float64
Rest of World    float64
Global           float64
dtype: object

## XBOXONE FINAL TABLE

In [20]:
xboxnodupsy

,Game,Console Name,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
447,Killer Instinct,XboxOne,2020.0,Misc,Microsoft Game Studios,0.00,0.00,0.0,0.00,0.00
464,Whore of the Orient,XboxOne,2020.0,Misc,Warner Bros. Interactive Entertainment,0.00,0.00,0.0,0.00,0.00
474,Halo 6,XboxOne,2020.0,Shooter,Microsoft Game Studios,0.00,0.00,0.0,0.00,0.00
482,Black Tusk Studios Game,XboxOne,2020.0,Misc,Microsoft Game Studios,0.00,0.00,0.0,0.00,0.00
612,Code Vein,XboxOne,2019.0,Action,Bandai Namco Entertainment,0.00,0.00,0.0,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...
68,Lego Marvel Super Heroes,XboxOne,2013.0,Action,Warner Bros. Interactive Entertainment,0.61,0.44,0.0,0.10,1.15
494,Sea Animal Games for Toddlers and Kids with Ji...,XboxOne,2013.0,Misc,Ubisoft,0.00,0.00,0.0,0.00,0.00
76,NBA 2K14,XboxOne,2013.0,Sports,2K Sports,0.72,0.12,0.0,0.09,0.94
83,Madden NFL 25,XboxOne,2013.0,Sports,EA Sports,0.69,0.06,0.0,0.09,0.83
129,Zoo Tycoon (2013),XboxOne,2013.0,Simulation,Microsoft Studios,0.25,0.18,0.0,0.04,0.48

## TOTAL VIDEO GAMES TABLE

In [21]:
videogame_path = "Resources/VideoGamesSales.csv"

vg_df = pd.read_csv(videogame_path, encoding ='iso-8859-1')
vg_df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
vg_df

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16718,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
#Remove unecessary columns and save in a new DataFrame
vgcolremove = vg_df.drop(columns=["Critic_Score","Critic_Count", "User_Score", "User_Count", "Developer", "Rating"])
vgcolremove

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01
16718,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01

In [24]:
vgcolrename = vgcolremove.rename(columns = {"Name": "Game",
                                            "Platform": "Console Name",
                                             "Year_of_Release":"Year",
                                             "Genre": "Genre",
                                             "Publisher": "Publisher",
                                             "NA_Sales":"North America",
                                             "EU_Sales":"Europe",
                                             "JP_Sales": "Japan",
                                             "Other_Sales":"Rest of World",
                                             "Global_Sales":"Global",                                         
                                           
                                           })
vgcolrename

,Game,Console Name,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01
16718,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01

In [25]:
vgnona = vgcolrename.dropna()
vgnona

,Game,Console Name,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01
16718,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01

## VIDEO GAMES FINAL TABLE

In [ ]:
vgnodups = vgnona.drop_duplicates(subset=["Game", "Year"])
vgnodups

In [27]:
vgnodupsy = vgnodups.sort_values(by="Year", ascending=False)
vgnodupsy

,Game,Console Name,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
5936,Imagine: Makeup Artist,DS,2020.0,Simulation,Ubisoft,0.27,0.00,0.00,0.02,0.29
14086,Phantasy Star Online 2 Episode 4: Deluxe Package,PS4,2017.0,Role-Playing,Sega,0.00,0.00,0.04,0.00,0.04
16385,Brothers Conflict: Precious Baby,PSV,2017.0,Action,Idea Factory,0.00,0.00,0.01,0.00,0.01
15866,Rocksmith 2014 Edition Remastered,PS4,2016.0,Misc,Ubisoft,0.01,0.00,0.00,0.00,0.02
11726,Zero Escape: Zero Time Dilemma,3DS,2016.0,Adventure,Aksys Games,0.05,0.00,0.02,0.01,0.08
...,...,...,...,...,...,...,...,...,...,...
546,Missile Command,2600,1980.0,Shooter,Atari,2.56,0.17,0.00,0.03,2.76
1764,Kaboom!,2600,1980.0,Misc,Activision,1.07,0.07,0.00,0.01,1.15
5360,Freeway,2600,1980.0,Action,Activision,0.32,0.02,0.00,0.00,0.34
4019,Ice Hockey,2600,1980.0,Sports,Activision,0.46,0.03,0.00,0.01,0.49
2650,Boxing,2600,1980.0,Fighting,Activision,0.72,0.04,0.00,0.01,0.77

In [28]:
vgnodupsy.dtypes

Game              object
Console Name      object
Year             float64
Genre             object
Publisher         object
North America    float64
Europe           float64
Japan            float64
Rest of World    float64
Global           float64
dtype: object

In [29]:
#ps4nodupsy.to_csv("Output/ps4DB.csv", index=False, header=True)

In [30]:
#xboxnodupsy.to_csv("Output/xboxDB.csv", index=False, header=True)

In [31]:
#vgnodupsy.to_csv("Output/videogamesDB.csv", index=False, header=True)

In [32]:
#ps4_transformed = ps4nodups
#xbox_transformed = xboxnodups

In [33]:
frames = [ps4nodupsy, xboxnodupsy,vgnodupsy]
videogames_df = pd.concat(frames)

# Final Table:

In [34]:
videogames_df

,Game,Console Name,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
953,Silent Hills,PS4,2020.0,Action,Konami Digital Entertainment,0.00,0.00,0.0,0.00,0.00
792,Primal Carnage: Genesis,PS4,2020.0,Misc,Unknown,0.00,0.00,0.0,0.00,0.00
791,Rocketbirds 2: Evolution,PS4,2020.0,Misc,Unknown,0.00,0.00,0.0,0.00,0.00
921,Gran Turismo 7,PS4,2020.0,Racing,Sony Computer Entertainment,0.00,0.00,0.0,0.00,0.00
784,Final Fantasy (PS4),PS4,2020.0,Misc,Square Enix,0.00,0.00,0.0,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...
546,Missile Command,2600,1980.0,Shooter,Atari,2.56,0.17,0.0,0.03,2.76
1764,Kaboom!,2600,1980.0,Misc,Activision,1.07,0.07,0.0,0.01,1.15
5360,Freeway,2600,1980.0,Action,Activision,0.32,0.02,0.0,0.00,0.34
4019,Ice Hockey,2600,1980.0,Sports,Activision,0.46,0.03,0.0,0.01,0.49
2650,Boxing,2600,1980.0,Fighting,Activision,0.72,0.04,0.0,0.01,0.77

In [35]:
#games_df = videogames_df.groupby("Game")
#games_df.head()

## Database Structure: Star Schema

## Games Catalogue

In [36]:
games_df = videogames_df["Game"].values
games_df

array(['Silent Hills', 'Primal Carnage: Genesis',
       'Rocketbirds 2: Evolution', ..., 'Freeway', 'Ice Hockey', 'Boxing'],
      dtype=object)

In [37]:
games_df = videogames_df["Game"].unique()
games_df

array(['Silent Hills', 'Primal Carnage: Genesis',
       'Rocketbirds 2: Evolution', ..., 'Bridge', 'Kaboom!', 'Freeway'],
      dtype=object)

In [38]:
gamesdim_df = pd.DataFrame(games_df)
gamesdim_df

                              0
0                  Silent Hills
1       Primal Carnage: Genesis
2      Rocketbirds 2: Evolution
3                Gran Turismo 7
4           Final Fantasy (PS4)
...                         ...
11819             Crazy Climber
11820                  Checkers
11821                    Bridge
11822                   Kaboom!
11823                   Freeway

[11824 rows x 1 columns]

In [39]:
gamesdim_df.index = [x for x in range(1, len(gamesdim_df.values)+1)]
#gamesdim_df.rename(columns={0:"game_name"}, inplace = True),

In [40]:
gamesdim_df = gamesdim_df.reset_index()
gamesdim_df

       index                         0
0          1              Silent Hills
1          2   Primal Carnage: Genesis
2          3  Rocketbirds 2: Evolution
3          4            Gran Turismo 7
4          5       Final Fantasy (PS4)
...      ...                       ...
11819  11820             Crazy Climber
11820  11821                  Checkers
11821  11822                    Bridge
11822  11823                   Kaboom!
11823  11824                   Freeway

[11824 rows x 2 columns]

In [41]:
gamesdim_df.rename(columns={"index":"game_id",0:"game_name"}, inplace = True)
gamesdim_df

       game_id                 game_name
0            1              Silent Hills
1            2   Primal Carnage: Genesis
2            3  Rocketbirds 2: Evolution
3            4            Gran Turismo 7
4            5       Final Fantasy (PS4)
...        ...                       ...
11819    11820             Crazy Climber
11820    11821                  Checkers
11821    11822                    Bridge
11822    11823                   Kaboom!
11823    11824                   Freeway

[11824 rows x 2 columns]

## Catalogue Console

In [42]:
console_df= videogames_df["Console Name"].unique()
console_df

array(['PS4', 'XboxOne', 'DS', 'PSV', '3DS', 'PC', 'XOne', 'PS3', 'WiiU',
       'Wii', 'X360', 'PSP', 'PS2', 'DC', 'GBA', 'XB', 'GC', 'PS', 'GB',
       'WS', 'N64', 'SAT', 'SNES', 'NG', 'PCFX', 'TG16', '3DO', 'GEN',
       'SCD', 'NES', 'GG', '2600'], dtype=object)

In [43]:
consoledim_df = pd.DataFrame(console_df)
consoledim_df

          0
0       PS4
1   XboxOne
2        DS
3       PSV
4       3DS
5        PC
6      XOne
7       PS3
8      WiiU
9       Wii
10     X360
11      PSP
12      PS2
13       DC
14      GBA
15       XB
16       GC
17       PS
18       GB
19       WS
20      N64
21      SAT
22     SNES
23       NG
24     PCFX
25     TG16
26      3DO
27      GEN
28      SCD
29      NES
30       GG
31     2600

In [44]:
consoledim_df.index = [x for x in range(1, len(consoledim_df.values)+1)]

In [45]:
consoledim_df = consoledim_df.reset_index()
consoledim_df

    index        0
0       1      PS4
1       2  XboxOne
2       3       DS
3       4      PSV
4       5      3DS
5       6       PC
6       7     XOne
7       8      PS3
8       9     WiiU
9      10      Wii
10     11     X360
11     12      PSP
12     13      PS2
13     14       DC
14     15      GBA
15     16       XB
16     17       GC
17     18       PS
18     19       GB
19     20       WS
20     21      N64
21     22      SAT
22     23     SNES
23     24       NG
24     25     PCFX
25     26     TG16
26     27      3DO
27     28      GEN
28     29      SCD
29     30      NES
30     31       GG
31     32     2600

In [46]:
consoledim_df.rename(columns={"index":"console_id",0:"console_name"}, inplace = True)
consoledim_df

    console_id console_name
0            1          PS4
1            2      XboxOne
2            3           DS
3            4          PSV
4            5          3DS
5            6           PC
6            7         XOne
7            8          PS3
8            9         WiiU
9           10          Wii
10          11         X360
11          12          PSP
12          13          PS2
13          14           DC
14          15          GBA
15          16           XB
16          17           GC
17          18           PS
18          19           GB
19          20           WS
20          21          N64
21          22          SAT
22          23         SNES
23          24           NG
24          25         PCFX
25          26         TG16
26          27          3DO
27          28          GEN
28          29          SCD
29          30          NES
30          31           GG
31          32         2600

## Publisher Catalogue

In [47]:
publisher_df = videogames_df["Publisher"].unique()
publisher_df

array(['Konami Digital Entertainment', 'Unknown',
       'Sony Computer Entertainment', 'Square Enix', 'Gust',
       'Warner Bros. Interactive Entertainment', 'Capcom',
       'Sony Online Entertainment', 'Sony Interactive Entertainment',
       'Cygames', 'Bandai Namco Games', 'Deep Silver', 'Electronic Arts',
       'Ubisoft', 'THQ Nordic', 'Gearbox Software', 'League of Geeks',
       'Wired Productions', 'Koei Tecmo', 'Focus Home Interactive',
       'Milestone S.r.l.', 'Merge Games', 'Namco Bandai Games', 'Nicalis',
       'Techland', '505 Games', 'Maximum Games', 'EA Sports', 'Sega',
       'CD Projekt Red Studio', 'Rockstar Games',
       'Bandai Namco Entertainment', 'Bethesda Softworks', 'Tecmo Koei',
       'PQube', 'Kalypso Media', 'GameTrust', 'Tru Blu Entertainment',
       'Grey Box', 'Funbox Media', 'City Interactive', 'Koch Media',
       'NIS America', 'Telltale Games', 'Aksys Games',
       'Bigben Interactive', 'Badland Studio', 'Nippon Ichi Software',
       'GameMill', 'System 3', 'Codemasters', 'Sold Out', 'Astragon',
       'Frontier Developments', 'Idea Factory International',
       'Nihon Falcom Corporation', 'Paradox InteractiveÊ', 'Milestone',
       'D3Publisher', '5pb', 'Arc System Works', 'GungHo', 'Soedesco',
       'Rebellion', 'Compile Heart', 'PM Studios', 'DMM Games',
       'Daedalic Entertainment', 'Sinxsoft', 'UIG Entertainment',
       'Entergram', 'Nighthawk Interactive', 'Kadokawa Games',
       'Active Gaming Media', 'Acquire', 'Ready at Dawn', 'Microids',
       'Accolade', 'Sprite', 'CokeM Interactive', 'UFO Interactive',
       'Perp Games', 'MLB.com', 'Outright Games', 'Tammeka Games',
       'Rebellion Developments', '2K Sports', 'Gun Media', 'Activision',
       'Studio Wildcard', 'Atari', 'Two Tribes', 'Thekla, Inc.',
       'Team Meat', 'Team17 Software', 'Team17 Digital Ltd',
       'Milestone S.r.l', 'Rising Star Games', 'Xseed Games',
       'Blizzard Entertainment', 'Taleworlds', 'Gaijinworks',
       'Games Workshop', '2K Games', 'Introversion Software',
       'Mediascape', 'Avanquest', 'Yeti', 'Hello Games',
       'Stainless Games', 'GameMill Entertainment',
       'Gunho Online Entertainment', 'Alternative Software', 'M2',
       'Nordic Games', 'Atlus', 'Insomniac Games',
       'Dusenberry Martin Racing', 'Tripwire Interactive', 'Little Orbit',
       'Spike Chunsoft', 'BioWare', 'Warner Bros. Interactive',
       'TopWare Interactive', 'Big Ben Interactive',
       'Marvelous Interactive', 'Endnight Games LtdÊ', 'Wander MMO',
       'Disney Interactive Studios', 'The Astronauts', 'Mojang',
       'Revolution Software', 'Versus Evil', 'Take-Two Interactive',
       'Harmonix Music Systems', 'Ravenscourt', 'Renegade Kid',
       'Frictional Games', 'Yacht Club Games', 'Double Damage Games',
       'Ice-pick Lodge', 'DTP Entertainment', 'Nowhere Studios',
       'Level 5', 'Futurlab 1', 'Triniti Interactive', '3D Realms',
       'Devolver Digital', 'Rain Games', 'Perfect World Entertainment',
       'FarSight Studios', 'Compulsion Games', 'Microsoft Game Studios',
       'Microsoft Studios', 'Experience Inc.', '11 bit studios', 'Moss',
       'Snail Game', 'Triangle Service', 'PlatinumGames',
       'Wizards of the Coast', 'Majesco Entertainment', 'Idea Factory',
       'FuRyu Corporation', 'dramatic create', 'Nippon Columbia',
       'Nintendo', 'Marvelous Entertainment', 'Aqua Plus', 'Aerosoft',
       'Inti Creates', 'CCP', 'Prototype', 'Paradox Development',
       'Broccoli', 'FuRyu', 'Natsume', 'Takara Tomy', 'Screenlife',
       'Rocket Company', 'Epic Games', 'Paradox Interactive', 'Happinet',
       'Crytek', 'Red Flagship', 'Alawar Entertainment',
       'Sony Computer Entertainment Europe', 'HuneX', 'mixi, Inc',
       'Kaga Create', 'Extreme Entertainment Group', 'Shogakukan',
       'Alchemist', 'WayForward Technologies', 'Slightly Mad Studios',
       'Marvel Entertainment', 'Focus Multimedia', 'Marvelous Games',
       'Kadokawa Shoten', 'Asgard', 'Avanquest Software',
       'Minato Station', 'TGL', 'Rondomedia', 'Giga',
       'Activision Blizzard', 'Nitroplus',
       'Sony Computer Entertainment America', 'NCSoft', 'Success',
       'ArtDink', 'Quinrose', 'Type-Moon', 'Big Fish Games',
       'imageepoch Inc.', 'Views', 'Office Create', 'ASCII Media Works',
       'Headup Games', 'Cave', 'THQ', 'Boost On', 'Falcom Corporation',
       'Bohemia Interactive', 'Trion Worlds', 'Otomate',
       'Agatsuma Entertainment', 'From Software', 'CyberFront',
       'Seventh Chord', 'Comfort', 'Paon Corporation', 'Licensed 4U',
       'BushiRoad', 'Ackkstudios', 'Excalibur Publishing', 'SCS Software',
       'Maximum Family Games', 'ChunSoft', 'Fields', 'Genki',
       'Cloud Imperium Games Corporation', 'Easy Interactive', 'Spike',
       'Reef Entertainment', 'Ubisoft Annecy', 'Image Epoch',
       'Irem Software Engineering', 'IE Institute', 'Funcom',
       'Mastertronic', 'Interworks Unlimited, Inc.', 'Mad Catz',
       'Daedalic', 'Giza10', 'Ascaron Entertainment', 'NetRevo',
       'Starfish', 'Iceberg Interactive', 'Hudson Soft',
       'Scholastic Inc.', 'Banpresto', 'GSP', 'MTV Games', 'Sunsoft',
       'O-Games', 'Mastiff', 'Crave Entertainment', 'Black Bean Games',
       'LucasArts', 'Her Interactive', 'bitComposer Games', 'Crimson Cow',
       'iWin', 'Wargaming.net', 'Evolved Games', 'Ignition Entertainment',
       '1C Company', 'Ghostlight', 'P2 Games',
       'Home Entertainment Suppliers', 'Zoo Games', 'Destineer',
       'Asylum Entertainment', 'Tetris Online', 'Tommo',
       'Storm City Games', '7G//AMES', 'PopCap Games', 'ValuSoft',
       'CDV Software Entertainment', 'Takuyo', 'Masque Publishing',
       'System Soft', 'Visco', 'Paon', 'Plenty', 'Mentor Interactive',
       'Valve Software', 'Jack of All Games', 'Abylight',
       'SouthPeak Games', 'XS Games', 'GN Software', 'Alvion',
       'Virtual Play Games', 'Hackberry', 'Flashpoint Games',
       'Foreign Media Games', 'RED Entertainment', 'Mindscape',
       'Nordcurrent', 'Mamba Games', 'Neko Entertainment',
       'DreamCatcher Interactive', 'Karin Entertainment',
       'JoWood Productions', 'Enterbrain', 'Russel', 'MTO',
       'Culture Brain', 'Conspiracy Entertainment', 'Tradewest', 'PlayV',
       'Graffiti', 'Nobilis', 'Dorart', 'Piacci', 'G.Rev', 'Game Factory',
       'Telegames', 'Kamui', 'Nexon', 'SNK Playmore', 'Tomy Corporation',
       'Taito', 'Sting', 'Slitherine Software',
       'System 3 Arcade Software', 'AQ Interactive',
       'Playlogic Game Factory', 'Eidos Interactive',
       'Oxygen Interactive', 'Blast! Entertainment Ltd',
       'Activision Value', 'The Adventure Company', 'Ecole',
       'Midas Interactive Entertainment', 'Zushi Games',
       'Zoo Digital Publishing', 'Tivola',
       'Performance Designed Products', 'Gamebridge', 'Genterprise',
       'Merscom LLC', 'Aspyr', 'Phantom EFX', 'Hudson Entertainment',
       'Enjoy Gaming ltd.', 'Data Design Interactive', 'Vir2L Studios',
       'NovaLogic', 'HMH Interactive', 'Game Life', 'Revolution (Japan)',
       'Valcon Games', 'Pinnacle', 'Agetec', 'Edia', 'Magix',
       'Knowledge Adventure', 'Phenomedia', 'Flight-Plan', 'RTL',
       'DHM Interactive', 'Sweets', 'Number None', '49Games',
       'Creative Core', 'Midway Games', 'Global A Entertainment',
       'Xplosiv', 'GOA', 'Tryfirst', 'Popcorn Arcade', 'Gamecock',
       'DSI Games', 'Vivendi Games', 'Destination Software, Inc',
       'Commseed', 'Empire Interactive', 'Metro 3D', 'Naxat Soft',
       'Mumbo Jumbo', 'Touchstone', 'Ivolgamus',
       'Ascaron Entertainment GmbH', 'NEC Interchannel', 'Benesse',
       'Jaleco', 'Brash Entertainment', '2D Boy', 'Mirai Shounen',
       'Mercury Games', 'Arika', 'Navarre Corp', 'Princess Soft',
       'Codemasters Online', 'Lexicon Entertainment', 'fonfun',
       'Interchannel', 'Ertain', 'Media Works', 'Gakken', 'Detn8 Games',
       'RedOctane', 'Funsta', '10TACLE Studios', 'Gameloft',
       'Interchannel-Holon', 'TDK Core', 'Warashi',
       'White Park Bay Software', 'O3 Entertainment', 'Zenrin',
       'Lighthouse Interactive', 'Phoenix Games',
       'Monte Christo Multimedia', 'Kids Station', 'Grand Prix Games',
       'Sunrise Interactive', 'Datam Polystar', "Yuke's",
       'Yamasa Entertainment', 'Global Star', 'Asmik Ace Entertainment',
       'KID', 'Essential Games', 'Michaelsoft', 'Myelin Media',
       'Hasbro Interactive', 'Daito', 'Ongakukan', 'Hamster Corporation',
       'Sammy Corporation', 'Kando Games', 'Aria', 'Liquid Games',
       'Groove Games', 'Play It', 'Hip Interactive', 'responDESIGN',
       'SNK', 'Jester Interactive', 'Kemco', 'Encore', 'Wanadoo',
       'Graphsim Entertainment', 'SCi', 'Avalon Interactive',
       'Indie Games', 'Enix Corporation', 'Sunflowers', 'Interplay',
       'Summitsoft', 'Illusion Softworks', 'Gotham Games',
       'BAM! Entertainment', 'TDK Mediactive', 'Acclaim Entertainment',
       'Sony Oznline Entertainment', 'Mud Duck Productions',
       'Gathering of Developers', 'Universal Interactive',
       'Xicat Interactive', 'Takara', 'Titus', 'Jorudan', '3DO',
       'NewKidCo', 'LSP Games', 'Kool Kizz', 'SquareSoft', 'Infogrames',
       'King Records', 'Playmore', 'Media Rings', 'NDA Productions',
       'Virgin Interactive', 'Phantagram', 'Rage Software',
       'Media Entertainment', 'Nippon Amuse',
       'Pacific Century Cyber Works', 'ESP', 'Victor Interactive',
       'Simon & Schuster Interactive', 'LEGO Media',
       'Swing! Entertainment', 'Black Label Games', 'DigiCube',
       'Berkeley', 'Square', 'Red Storm Entertainment', 'Imagineer',
       'Sony Music Entertainment', 'Altron', 'Blue Byte', 'Athena',
       'Pioneer LDC', 'Max Five', 'Strategy First', 'Media Factory',
       'ASCII Entertainment', 'TalonSoft', 'Havas Interactive',
       'Aruze Corp', 'Epoch', 'Video System', 'Vatical Entertainment',
       'Psygnosis', 'Fox Interactive', 'Pony Canyon',
       'The Learning Company', 'JVC', 'Mattel Interactive',
       'Human Entertainment', 'EON Digital Entertainment', 'ASC Games',
       '989 Sports', 'PopTop Software', 'Square EA', 'Westwood Studios',
       '989 Studios', 'Syscom', 'GT Interactive', 'Microprose',
       'Pack In Soft', 'Data East', 'Ocean', 'DreamWorks Interactive',
       'Telstar', 'Magical Company', 'Gainax Network Systems', 'Saurus',
       'Axela', 'Culture Publishers', 'Quintet', 'Evolution Games',
       'Gremlin Interactive Ltd', 'Mitsui', 'GameTek', 'TYO',
       'General Entertainment', 'Locus', 'NCS', 'TechnoSoft',
       'BMG Interactive Entertainment', 'Compile', 'Fortyfive', 'CTO SpA',
       'Playmates', 'Interplay Productions', 'Red Orb',
       'Xing Entertainment', 'Warp', 'On Demand', 'Aques', 'Imadio',
       'Origin Systems', 'Elf', 'UEP Systems', 'Vic Tokai', 'SPS',
       'Seta Corporation', 'Adeline Software', 'Nippon Telenet',
       'Hearty Robin', 'Time Warner Interactive', 'U.S. Gold', 'FunSoft',
       'Crystal Dynamics', 'SSI', 'ASK', 'NEC', 'Electronic Arts Victor',
       'KSS', 'Sonnet', 'Coconuts Japan', 'Gaga', 'Maxis', 'Micro Cabin',
       'Elite', 'Societa', 'American Softworks', 'Nichibutsu', 'Laguna',
       'Glams', 'New', 'Pow', 'Pack-In-Video', 'Yumedia', 'Quest',
       'MediaQuest', 'Fuji', 'Hect', 'Panther Software',
       'Core Design Ltd.', 'Kokopeli Digital Studios', 'Angel Studios',
       'Riverhillsoft', 'Asmik Corp', 'Imageworks',
       'Technos Japan Corporation', 'Misawa', 'Vap', 'BPS', 'Game Arts',
       'T&E Soft', 'TOHO', 'Imax', 'New World Computing', 'id Software',
       'Arena Entertainment', 'Palcom', 'HAL Laboratory', 'Mycom',
       'Parker Bros.', 'Tigervision', 'CBS Electronics', 'CPG Products',
       'Answer Software', 'Data Age', 'Quelle',
       '20th Century Fox Video Games', 'Wizard Video Games',
       'Universal Gamex', 'ITT Family Games', 'Coleco', 'Bomb',
       'Men-A-Vision', 'Imagic', 'Starpath Corp.', 'Mystique'],
      dtype=object)

In [48]:
publisherdim_df = pd.DataFrame(publisher_df)
publisherdim_df

                                0
0    Konami Digital Entertainment
1                         Unknown
2     Sony Computer Entertainment
3                     Square Enix
4                            Gust
..                            ...
639                          Bomb
640                  Men-A-Vision
641                        Imagic
642                Starpath Corp.
643                      Mystique

[644 rows x 1 columns]

In [49]:
publisherdim_df.index = [x for x in range(1, len(publisherdim_df.values)+1)]

In [50]:
publisherdim_df = publisherdim_df.reset_index()
publisherdim_df

     index                             0
0        1  Konami Digital Entertainment
1        2                       Unknown
2        3   Sony Computer Entertainment
3        4                   Square Enix
4        5                          Gust
..     ...                           ...
639    640                          Bomb
640    641                  Men-A-Vision
641    642                        Imagic
642    643                Starpath Corp.
643    644                      Mystique

[644 rows x 2 columns]

In [51]:
publisherdim_df.rename(columns={"index":"publisher_id",0:"publisher"}, inplace = True)
publisherdim_df

     publisher_id                     publisher
0               1  Konami Digital Entertainment
1               2                       Unknown
2               3   Sony Computer Entertainment
3               4                   Square Enix
4               5                          Gust
..            ...                           ...
639           640                          Bomb
640           641                  Men-A-Vision
641           642                        Imagic
642           643                Starpath Corp.
643           644                      Mystique

[644 rows x 2 columns]

In [52]:
publisherdim_df

     publisher_id                     publisher
0               1  Konami Digital Entertainment
1               2                       Unknown
2               3   Sony Computer Entertainment
3               4                   Square Enix
4               5                          Gust
..            ...                           ...
639           640                          Bomb
640           641                  Men-A-Vision
641           642                        Imagic
642           643                Starpath Corp.
643           644                      Mystique

[644 rows x 2 columns]

## Genre Catalogue

In [53]:
genre_df = videogames_df["Genre"].unique()
genre_df

array(['Action', 'Misc', 'Racing', 'Role-Playing', 'MMO', 'Adventure',
       'Platform', 'Action-Adventure', 'Shooter', 'Strategy', 'Fighting',
       'Simulation', 'Sports', 'Music', 'Visual Novel', 'Puzzle', 'Party'],
      dtype=object)

In [54]:
genredim_df = pd.DataFrame(genre_df)
genredim_df

                   0
0             Action
1               Misc
2             Racing
3       Role-Playing
4                MMO
5          Adventure
6           Platform
7   Action-Adventure
8            Shooter
9           Strategy
10          Fighting
11        Simulation
12            Sports
13             Music
14      Visual Novel
15            Puzzle
16             Party

In [55]:
genredim_df.index = [x for x in range(1, len(genredim_df.values)+1)]

In [56]:
genredim_df = genredim_df.reset_index()
genredim_df

    index                 0
0       1            Action
1       2              Misc
2       3            Racing
3       4      Role-Playing
4       5               MMO
5       6         Adventure
6       7          Platform
7       8  Action-Adventure
8       9           Shooter
9      10          Strategy
10     11          Fighting
11     12        Simulation
12     13            Sports
13     14             Music
14     15      Visual Novel
15     16            Puzzle
16     17             Party

In [57]:
genredim_df.rename(columns={"index":"genre_id",0:"genre"}, inplace = True)
genredim_df

    genre_id             genre
0          1            Action
1          2              Misc
2          3            Racing
3          4      Role-Playing
4          5               MMO
5          6         Adventure
6          7          Platform
7          8  Action-Adventure
8          9           Shooter
9         10          Strategy
10        11          Fighting
11        12        Simulation
12        13            Sports
13        14             Music
14        15      Visual Novel
15        16            Puzzle
16        17             Party

## Facts Table

In [58]:
videogames_merged = pd.merge(videogames_df, gamesdim_df, left_on ='Game',  right_on='game_name' , how ='left')
videogames_merged2 = pd.merge(videogames_merged, consoledim_df, left_on ='Console Name',  right_on='console_name' , how ='left')
videogames_merged3 = pd.merge(videogames_merged2, publisherdim_df, left_on ='Publisher',  right_on='publisher' , how ='left')
videogames_merged4 = pd.merge(videogames_merged3, genredim_df, left_on ='Genre',  right_on='genre' , how ='left')

In [59]:
videogames_merged4.head()

,Game,Console Name,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global,game_id,game_name,console_id,console_name,publisher_id,publisher,genre_id,genre
0,Silent Hills,PS4,2020.0,Action,Konami Digital Entertainment,0.0,0.0,0.0,0.0,0.0,1,Silent Hills,1,PS4,1,Konami Digital Entertainment,1,Action
1,Primal Carnage: Genesis,PS4,2020.0,Misc,Unknown,0.0,0.0,0.0,0.0,0.0,2,Primal Carnage: Genesis,1,PS4,2,Unknown,2,Misc
2,Rocketbirds 2: Evolution,PS4,2020.0,Misc,Unknown,0.0,0.0,0.0,0.0,0.0,3,Rocketbirds 2: Evolution,1,PS4,2,Unknown,2,Misc
3,Gran Turismo 7,PS4,2020.0,Racing,Sony Computer Entertainment,0.0,0.0,0.0,0.0,0.0,4,Gran Turismo 7,1,PS4,3,Sony Computer Entertainment,3,Racing
4,Final Fantasy (PS4),PS4,2020.0,Misc,Square Enix,0.0,0.0,0.0,0.0,0.0,5,Final Fantasy (PS4),1,PS4,4,Square Enix,2,Misc

In [60]:
videogames_final = videogames_merged4[['game_id','genre_id','publisher_id','console_id', 'Year', 'North America','Europe','Japan','Rest of World']]

In [61]:
videogames_final

,game_id,genre_id,publisher_id,console_id,Year,North America,Europe,Japan,Rest of World
0,1,1,1,1,2020.0,0.00,0.00,0.0,0.00
1,2,2,2,1,2020.0,0.00,0.00,0.0,0.00
2,3,2,2,1,2020.0,0.00,0.00,0.0,0.00
3,4,3,3,1,2020.0,0.00,0.00,0.0,0.00
4,5,2,4,1,2020.0,0.00,0.00,0.0,0.00
...,...,...,...,...,...,...,...,...,...
13491,10386,9,91,32,1980.0,2.56,0.17,0.0,0.03
13492,11823,2,89,32,1980.0,1.07,0.07,0.0,0.01
13493,11824,1,89,32,1980.0,0.32,0.02,0.0,0.00
13494,11669,13,89,32,1980.0,0.46,0.03,0.0,0.01
13495,10044,11,89,32,1980.0,0.72,0.04,0.0,0.01

In [62]:
videogames_final = videogames_final.rename(columns={"Year":"year", "North America":"na_sales", "Europe": "eu_sales", "Japan": "jp_sales", "Rest of World": "other_sales"})

In [63]:
videogames_final

,game_id,genre_id,publisher_id,console_id,year,na_sales,eu_sales,jp_sales,other_sales
0,1,1,1,1,2020.0,0.00,0.00,0.0,0.00
1,2,2,2,1,2020.0,0.00,0.00,0.0,0.00
2,3,2,2,1,2020.0,0.00,0.00,0.0,0.00
3,4,3,3,1,2020.0,0.00,0.00,0.0,0.00
4,5,2,4,1,2020.0,0.00,0.00,0.0,0.00
...,...,...,...,...,...,...,...,...,...
13491,10386,9,91,32,1980.0,2.56,0.17,0.0,0.03
13492,11823,2,89,32,1980.0,1.07,0.07,0.0,0.01
13493,11824,1,89,32,1980.0,0.32,0.02,0.0,0.00
13494,11669,13,89,32,1980.0,0.46,0.03,0.0,0.01
13495,10044,11,89,32,1980.0,0.72,0.04,0.0,0.01

In [64]:
videogames_final = videogames_final.reset_index()
videogames_final

,index,game_id,genre_id,publisher_id,console_id,year,na_sales,eu_sales,jp_sales,other_sales
0,0,1,1,1,1,2020.0,0.00,0.00,0.0,0.00
1,1,2,2,2,1,2020.0,0.00,0.00,0.0,0.00
2,2,3,2,2,1,2020.0,0.00,0.00,0.0,0.00
3,3,4,3,3,1,2020.0,0.00,0.00,0.0,0.00
4,4,5,2,4,1,2020.0,0.00,0.00,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...
13491,13491,10386,9,91,32,1980.0,2.56,0.17,0.0,0.03
13492,13492,11823,2,89,32,1980.0,1.07,0.07,0.0,0.01
13493,13493,11824,1,89,32,1980.0,0.32,0.02,0.0,0.00
13494,13494,11669,13,89,32,1980.0,0.46,0.03,0.0,0.01
13495,13495,10044,11,89,32,1980.0,0.72,0.04,0.0,0.01

In [65]:
videogames_final = videogames_final.rename(columns={"index":"sales_id"})
videogames_final

,sales_id,game_id,genre_id,publisher_id,console_id,year,na_sales,eu_sales,jp_sales,other_sales
0,0,1,1,1,1,2020.0,0.00,0.00,0.0,0.00
1,1,2,2,2,1,2020.0,0.00,0.00,0.0,0.00
2,2,3,2,2,1,2020.0,0.00,0.00,0.0,0.00
3,3,4,3,3,1,2020.0,0.00,0.00,0.0,0.00
4,4,5,2,4,1,2020.0,0.00,0.00,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...
13491,13491,10386,9,91,32,1980.0,2.56,0.17,0.0,0.03
13492,13492,11823,2,89,32,1980.0,1.07,0.07,0.0,0.01
13493,13493,11824,1,89,32,1980.0,0.32,0.02,0.0,0.00
13494,13494,11669,13,89,32,1980.0,0.46,0.03,0.0,0.01
13495,13495,10044,11,89,32,1980.0,0.72,0.04,0.0,0.01

In [66]:
gamesdim_df

       game_id                 game_name
0            1              Silent Hills
1            2   Primal Carnage: Genesis
2            3  Rocketbirds 2: Evolution
3            4            Gran Turismo 7
4            5       Final Fantasy (PS4)
...        ...                       ...
11819    11820             Crazy Climber
11820    11821                  Checkers
11821    11822                    Bridge
11822    11823                   Kaboom!
11823    11824                   Freeway

[11824 rows x 2 columns]

In [ ]:
genredim_df

In [ ]:
publisherdim_df

In [ ]:
consoledim_df

## Load

### Insert to PGAdming DB

In [67]:
db_string = "postgresql://postgres:go40SQL@localhost:5432/gameland_db"
db = create_engine(db_string)  
conn = db.connect()

In [68]:
# Confirm tables
db.table_names()

['dim_games', 'dim_console', 'dim_genre', 'dim_publisher', 'fact_sales']

In [ ]:
gamesdim_df.to_sql(name='dim_games', con=db, if_exists='append', index=False)

In [ ]:
genredim_df.to_sql(name='dim_genre', con=db, if_exists='append', index=False)

In [ ]:
publisherdim_df.to_sql(name='dim_publisher', con=db, if_exists='append', index=False)

In [ ]:
consoledim_df.to_sql(name='dim_console', con=db, if_exists='append', index=False)

In [69]:
videogames_final.to_sql(name='fact_sales', con=db, if_exists='append', index=False)